.uiButton{
    height: 20%;
    background-color: dimgray; /* Green */
    border: none;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20%;
    border: cyan;
    border-style: solid;
    border-width: 5px;
    position: relative;
    z-index: 11;
    margin-top: 60%;
}

.CameraWrapper{
    width: 80vw;
    height: 80vh;
    position: relative;
    border-radius: 10%;
    background-color: dar; /* Green */
    margin: 10px;
    border: darkcyan;
    border-style: solid;
    border-width: 5px;
}

.camera,
.canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 9%;
}
.canvas {
    z-index: 10;
}

button > img {
    height: 50px;
}

